.container{
  display: flex;
  /* flex-direction: column; */
  justify-content: space-between;

}

body{
  background-color: rgb(168, 168, 255);
  color: black;
}

h3{
  font-size: 30px;
  margin-left: 30px;
}

.divi{
  margin: 10px 20px 10px 20px;

  width: 9000px;
  height: 650px;
}

.input-text{
  width: 900px;
  height: 550px;
  border: 3px solid gray;
  border-radius: 10px;
  outline: none;
}

.output{
  background-color: rgb(121, 201, 255);
  border: none;
  border-radius: 10px;
  box-shadow: 5px;
  max-width: 500px;
  word-wrap: break-word;
  
}

.output-text{
  white-space: initial;
  padding: 10px;
  /* overflow-y: scroll; */
}
